@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.dashboard-container {
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}
body{
  margin: 0px;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #648ca6;
}

.sidenav {
  grid-area: sidenav;
  background-color: #22303f;
}

.main {
  grid-area: main;
  background-color: #e9eaef;
}

.footer {
  grid-area: footer;
  background-color: #FFF;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #FFF;
}

.sidenav {
  display: flex; /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;
  background-color: #22303f;
}

.sidenav__list {
  padding: 0;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}
.logo:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.logo img{
  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-top: 10px;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.main-cards {
  column-count: 2;
  column-gap: 20px;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FFF;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  box-sizing: border-box;
  border-radius: 8px;
}
.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22303f;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 50px;
}
.card-title h1{
  color: #FFF ;
  font-size: 20px;
  font-weight: 100;
}
.value{
  display: flex;  
  align-items: center;
  flex-direction: row;    
  width: 100%;
  height: 55px;
}
.value_timeLamp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;    
  width: 100%;
}
.value img{
  width: 45px;
  height: 45px;
  padding: 20px 20px 20px 20px;
}
.value_timeLamp img{
  width: 40px;
  height: 50px;
  padding: 20px 20px 20px 20px;
}
.value_timeLamp button{
  width: 100px;
  height: 50px;
  border-radius: 8px; 
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 420px;  
}

.card:nth-child(2) {
  height: 265px;  
}

.card:nth-child(2) img{
  width: 180px;
  height: 160px;
}
.card:nth-child(3) {
  height: 420px;
}
.card:nth-child(4) {
  height: 265px;
}
.card:nth-child(4) img{
  width: 180px;
  height: 160px;
}

#chart-bar{
  width: 100%;
  height: 100px;
}